[user]
	email = xxgj@outlook.com
	name = kevinchen147
	signingkey = F85B0A33F9C99749F5431625B55070049A51312D

[core]
	editor = code --wait
	excludesFile = ~/.gitignore_global
	autocrlf = input
[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code -n --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode
	conflictStyle = diff3

[mergetool "vscode"]
	cmd = code -n --wait $MERGED

[push]
	default = simple

[pull]
	rebase = true

[rebase]
	autoSquash = true
	autoStash = true

[gitsh]
	defaultCommand = status

[alias]
	a = add
	b = branch
	bl = blame --color-lines -L
	c = commit -v
	ck = checkout
	ckb = checkout -b
	cl = clone --recursive
	d = diff
	l = log
	pl = pull
	ps = push
	r = restore
	s = status
	sh = show
	st = stash
	stp = stash pop

[gpg]
	program = gpg

[commit]
	gpgsign = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
