[user]
	email = xxgj@outlook.com
	name = xxgj
	signingkey = F85B0A33F9C99749F5431625B55070049A51312D
[core]
	editor = nvim
	autocrlf = input
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
[alias]
	a = add
	b = branch
	bl = blame --color-lines
	c = commit -v
	ck = checkout
	ckb = checkout -b
	cl = clone --recursive
	d = diff
	dt = difftool
	l = log
	pl = pull
	ps = push
	r = restore
	s = status
	sh = show
	st = stash
	stp = stash pop
[gpg]
	program = gpg
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
